PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=carcrm
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
JWT_SECRET=changeme_supersecret

FRONTEND_URL=https://yourdomain.com
REDIS_URL=redis://redis:6379

# Email notifications
SMTP_USER=your_gmail@gmail.com
SMTP_PASS=your_gmail_app_password
NOTIFY_EMAIL=recondalorstar@gmail.com
